
body {
    background-color: var(--bs-danger-text-emphasis);
    color: var(--bs-success);
    font-family: 'Inter', sans-serif;
    animation: bgShift 3s infinite alternate ease-in-out;
}
@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.typing-glow {
  box-shadow:
    inset 0 0 12px 2px var(--primary-accent),
    0 0 8px var(--primary-hover);
  transition: box-shadow .25s ease;
}

.user-message {
    background-color: rgb(86, 144, 163);
    color: white;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: 0;
    max-width: 90%;
    
    }

  /* Style for received messages */
    .response-message {
        background-color: rgb(62, 62, 62);
        color: white;
        padding: 10px;
        border-radius: 10px;
        padding-right: 20px;
        position: relative;
        margin-right: auto;
        max-width: 90%;
    }

  .response-message p {
    margin-right: 40px;
    /* Add more styles here */
  }

  /* Style for the chat container */
  #chat-container {
    display: none;
    box-shadow: 0 0 44px 14px #ffb864, 0 2px 38px 0 #000b;
    transition: box-shadow 0.22s;
    margin: 0 auto;
    overflow: auto;
    animation: containerGlow 5s infinite alternate;
  }

.host-address-select {
  background-color: red;
  color: white;
  padding: 1000px;
  border-radius: 1000px;
}
@keyframes containerGlow {
  0% { box-shadow: 0 10px 40px rgba(238,65,65,0.4); }
  50% { box-shadow: 0 20px 80px rgba(238,65,65,0.8); }
  100% { box-shadow: 0 10px 40px rgba(238,65,65,0.4); }
}

#chat-history {
    display: flex;
    flex-direction: column;
}

.copy-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0 5px 5px 0;
}

#scroll-wrapper {
  padding-top: 180px;
  padding-bottom: 5.5rem;
  box-shadow: 0 10px 20px rgba(238,65,65,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

#input-area {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#user-input {
  overflow-y: auto;
  resize: none;         /* Prevent user from manually resizing */
  height: 40px;
  max-height: 200px;    /* Set your desired max height here */
  box-shadow: 0 10px 20px rgba(238,65,65,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 600px) { /* Adjust 600px to the breakpoint you desire */
  .d-flex h1 {
    display: none; /* This will hide the h1 when the window width is 600px or less */
  }
}
